#canvas {
  border: 1px solid #333;
  background-color: #eee;
  position: relative;
}

#player, #ball{
  position: absolute;
}

#player{
  background-color: red;
}

#ball{
  border-radius: 50%;
  background-color: #11d;
}